<p> </p>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <p></p><br>
      <div class="card shadow-sm p-3 mb-5 bg-white rounded ">
        <div class="card-body">
          <%= image_tag "#{cocktail.url}", class: "img-cover" %>
          <h5 class="card-title font-weight-bold shadow p-3 mb-5 bg-white rounded text-center">
            <%= link_to cocktail.name, cocktail_path(cocktail), class: "stretched-link" %>
          <!--  strechted-link : to make card clickable -->
          </h5>
          <p class="card-text text-center">
            <ul class="list-group">
              <% cocktail.doses.each do |dose| %>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                   <%= dose.ingredient.name %>
                    <span class="badge badge-primary badge-pill"><%= dose.description %></span>
                  </li>
                <% end %>
                </ul>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
