<p> </p>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="card img-fluid">
            <%= image_tag "cocktail-102.png", alt: '#{cocktail.name}'%>
            <div class="card-img-overlay">
              <h5 class="card-title font-weight-bold  "><%= link_to cocktail.name, cocktail_path(cocktail) %> </h5>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
